MONGO_URI=
CLIENT_URL=
OTP_EXPIRES_MINUTES=
JWT_SECRET=
JWT_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

ML_BASE_URL=